# ========================
# VSCode設定
# ========================
.vscode/

# ========================
# Node関連
# ========================
node_modules/
gulp/node_modules/
package-lock.json

# ========================
# ビルド成果物
# dist 内の HTML 以外は無視
# ========================
dist/*
!dist/**/*.html

# ========================
# OSやIDEのゴミファイル
# ========================
.DS_Store
Thumbs.db

# ========================
# ログや一時ファイル
# ========================
*.log
