# ========================
# VSCode設定
# ========================
.vscode/

# ========================
# Node関連
# ========================
node_modules/
gulp/node_modules/

# ========================
# ビルド成果物
# ========================
dist/

# ========================
# OSやIDEのゴミファイル
# ========================
.DS_Store
Thumbs.db

# ========================
# ログや一時ファイル
# ========================
*.log
