@use "sass:math";
@use "sass:map";

// インナー幅
$innerWidth: 1000px;

// 余白
$padding-pc: 20px;
$padding-sp: 15px;

// フォント
$font-main: "Zen Maru Gothic", sans-serif;
$font-sub: "Noto Sans JP", sans-serif;
$font-title: "Shippori Mincho", serif;
$font-fv-title: "Montserrat", sans-serif;

// 色指定
$black: #000;
$black2: #3e3b35;
$black3: #737373;
$white: #fff;
$gray1: #f5f5f5;
$gray2: #b2b2b2;
$gray3: #e5e5e5;
$pink1: #cc5c89;
$pink2: #984b6c;
$pink3: #fbebed;
$pink4: #c6618c;
$pink5: #b03f74;
$pink6: #f3b3cf;
$pink7: #ffd5db;
$pink-fv: #fae4e7;
$pink-question: #fdf5f6;
$yellow1: #ccaf3a;
$yellow2: #fcee7b;
$yellow3: #d9be52;
$lightblue1: #81c7c7;
$lightblue2: #d8f5f5;
$lightblue3: #66c7c7;
$green1: #00b900;

// ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

// フォントウェイト
$font-weights: (
  normal: 400,
  medium: 500,
  bold: 700,
  black: 900,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (min-width: #{map.get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map.get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map.get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map.get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map.get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// line-height
@mixin l_height($pixels, $height) {
  font-size: $pixels * 1px;
  line-height: $height / $pixels;
}

@mixin f_around($pixels, $height: false, $weight: false, $spacing: false) {
  font-size: $pixels * 1px;

  @if $weight {
    font-weight: $weight;
  }

  @if $height {
    line-height: $height / $pixels;
  }

  @if $spacing {
    letter-spacing: ($spacing / 1000) * 1em;
  }
}

// 呼び出し例
// ＠include f_around(フォントサイズ18px, 行送り30 , 太さW6, トラッキング200)

$z-index-values: (
  "modal": 1000,
  "dropdown": 900,
  "tooltip": 800,
  "overlay": 700,
  "header": 600,
  "sidebar": 500,
);

@mixin set-z-index($element) {
  @if map-has-key($z-index-values, $element) {
    z-index: map-get($z-index-values, $element);
  } @else {
    @warn "無効なz-index要素です: #{$element}";
  }
}

// 使用例:
// .my-modal {
//   @include set-z-index("modal");
// }
