@use "global" as *;

.c-btn01 {
  display: flex;
  justify-content: center;
  @include mq(md) {
  }
}

.c-btn01__wrapper {
  position: relative;
  transition: transform 0.5s ease-out;
  @include mq(md) {
  }
}

.c-btn01__wrapper:hover {
  transform: translateY(myrem(3));
  opacity: 1;
  @include mq(md) {
  }
}

.c-btn01__text {
  font-size: myrem(16);
  font-weight: 900;
  line-height: calc(21 / 16);
  color: $white;
  text-align: center;
  display: block;
  background: $green1;
  border-radius: 9999px;
  padding-block: myrem(7) myrem(5);
  padding-inline: myrem(57) myrem(68);
  position: relative;
  @include mq(md) {
    font-size: myrem(28);
    line-height: calc(37 / 28);
    padding-inline: myrem(125) myrem(125);
  }
}

.c-btn01__text--header {
  @include mq(md) {
    font-size: 0.972vw;
    line-height: calc(16.7 / 14);
    padding-block: myrem(6) myrem(5);
    padding-inline: myrem(28) myrem(48);
  }
}

.c-btn01__text::before {
  content: "";
  position: absolute;
  top: myrem(-5); // 上に少し広げる
  left: 0;
  right: 0;
  bottom: myrem(-5); // 下に少し広げる
  border-radius: inherit;
  background: linear-gradient(
    to bottom,
    rgba(0, 185, 0, 0.7) 0%,
    rgba(15, 129, 20, 1) 100%
  );
  z-index: -1;
  transition: all 0.2s ease-out;
  @include mq(md) {
    top: myrem(-9);
    bottom: myrem(-9);
  }
}

.c-btn01__text--header::before {
  @include mq(md) {
    display: block;
    width: calc(100% + 4px);
    top: myrem(-4);
    left: myrem(-2);
    bottom: myrem(-4);
    border: 2px solid $white;
  }
}

.c-btn01__wrapper:hover .c-btn01__text::before {
  top: 0;
  bottom: 0;
  @include mq(md) {
  }
}

.c-btn01__wrapper:hover .c-btn01__text--header::before {
  @include mq(md) {
    top: myrem(-1);
    bottom: myrem(-1.5);
  }
}

.c-btn01__text span {
  padding-inline: myrem(4) myrem(4);
  @include mq(md) {
  }
}

.c-btn01__triangle {
  display: block;
  width: myrem(17);
  height: myrem(25);
  position: absolute;
  top: 54%;
  right: myrem(35);
  transform: translateY(-50%);
  background: url(../images/btn/sp/btn01-triangle-sp.png) no-repeat 100% /
    contain;
  transition: right 0.5s ease-out;
  @include mq(md) {
    width: myrem(32);
    height: myrem(40);
    top: 55%;
    right: myrem(59);
    background: url(../images/btn/pc/btn01-triangle-pc.png) no-repeat 100% /
      contain;
  }
}

.c-btn01__triangle--header {
  @include mq(md) {
    width: myrem(14);
    height: myrem(20);
    top: 50%;
    right: myrem(18);
  }
}

.c-btn01__wrapper:hover .c-btn01__triangle {
  right: myrem(25);
  @include mq(md) {
    right: myrem(50);
  }
}

.c-btn01__wrapper:hover .c-btn01__triangle--header {
  @include mq(md) {
    right: myrem(10);
  }
}
