@use "global" as *;

.c-btn01 {
  display: flex;
  justify-content: center;
  @include mq(md) {
  }
}

.c-btn01__wrapper {
  position: relative;
  transition: transform .5s ease-out;
  @include mq(md) {
  }
}

.c-btn01__wrapper:hover {
  transform: translateY(myrem(3));
  opacity: 1;
  @include mq(md) {
    
  }
}

.c-btn01-text {
  font-size: myrem(16);
  font-weight: 900;
  line-height: calc(21 / 16);
  color: $white;
  text-align: center;
  display: block;
  background: $green1;
  border-radius: 9999px;
  padding-block: myrem(7) myrem(5);
  padding-inline: myrem(57) myrem(68);
  position: relative;
  @include mq(md) {
    font-size: myrem(28);
    line-height: calc(37 / 28);
    padding-inline: myrem(125) myrem(125);
  }
}

.c-btn01-text::before {
  content: "";
    position: absolute;
    top: myrem(-5);   // 上に少し広げる
    left: 0;
    right: 0;
    bottom: myrem(-5); // 下に少し広げる
    border-radius: inherit;
    background: linear-gradient(
      to bottom,
      rgba(0, 185, 0, 0.7) 0%,
      rgba(15, 129, 20, 1) 100%
    );
    z-index: -1;
    transition: all .2s ease-out;
  @include mq(md) {
    top: myrem(-9);
    bottom: myrem(-9);
  }
}

.c-btn01__wrapper:hover .c-btn01-text::before {
  top: 0;
  bottom: 0;
  @include mq(md) {
    
  }
}

.c-btn01-text span {
  padding-inline: myrem(4) myrem(4);
  @include mq(md) {
    padding-inline: myrem(8) myrem(8);
  }
}

.c-btn01-triangle {
  display: block;
  width: myrem(17);
  height: myrem(25);
  position: absolute;
  top: 54%;
  right: myrem(35);
  transform: translateY(-50%);
  background: url(../images/btn/sp/btn01-triangle-sp.png) no-repeat 100% /
    contain;
    transition: right .5s ease-out;
  @include mq(md) {
    width: myrem(32);
    height: myrem(40);
    top: 55%;
    right: myrem(59);
    background: url(../images/btn/pc/btn01-triangle-pc.png) no-repeat 100% /
      contain;
  }
}

.c-btn01__wrapper:hover .c-btn01-triangle {
  right: myrem(25);
  @include mq(md) {
    right: myrem(50);
    
  }
}
