@use "global" as *;

.c-card01 {
  aspect-ratio: 108 / 94;
  width: 28.799vw;
  background-color: $pink1;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  text-align: center;
  @include mq(md) {
    aspect-ratio: 136 / 119;
    width: 9.444vw;
  }
}

// カード内テキスト
.c-card01__text {
  font-size: 3.466vw;
  line-height: calc(14 / 13);
  letter-spacing: -.01em;
  color: $white;
  margin-top: myrem(7);
  @include mq(md) {
    font-size: 1.111vw;
    line-height: calc(18 / 16);
    letter-spacing: .02em;
    margin-top: myrem(8);
  }
}

.c-card01__text--large {
  font-size: 3.733vw;
  @include mq(md) {
    font-size: 1.180vw;
  }
}
.c-card01__text--small {
  font-size: 3.2vw;
  letter-spacing: -.1em;
  @include mq(md) {
    font-size: 1.041vw;
  }
}

// 左カード内テキスト　最初の行
.c-card01__text:first-of-type {
  margin-top: 5.6vw;
  @include mq(md) {
    margin-top: 1.805vw;
  }
}

// 中央カード　最初の行
.c-card01--center .c-card01__text:first-of-type {
  margin-top: 4.266vw;
  @include mq(md) {
    margin-top: 1.25vw;
  }
}

// 中央カード内テキスト　2行目
.c-card01--center .c-card01__text:nth-of-type(2) {
  margin-top: myrem(2);
  @include mq(md) {
    margin-top: myrem(3);
  }
}

// 中央カード内テキスト　3行目
.c-card01--center .c-card01__text:nth-of-type(3) {
  margin-top: 0;
  @include mq(md) {
    
  }
}

// 右カード内テキスト　最初の行
.c-card01--right .c-card01__text:first-of-type {
  margin-top: 6.133vw;
  @include mq(md) {
    // margin-top: myrem(28);
    margin-top: 1.944vw;
  }
}

// 右カード内テキスト　2行目
.c-card01--right .c-card01__text:nth-of-type(2) {
  margin-top: myrem(4);
  @include mq(md) {
    margin-top: myrem(6);
  }
}

// 右カード内テキスト　3行目
.c-card01--right .c-card01__text:nth-of-type(3) {
  margin-top: myrem(5);
  @include mq(md) {
    margin-top: myrem(7);
  }
}

// 黄色テキスト
.c-card01__text-yellow {
  font-size: 4.533vw;
  font-weight: 900;
  line-height: calc(14 / 17);
  letter-spacing: -.075em;
  color: $yellow2;
  @include mq(md) {
    font-size: 1.527vw;
  }
}

// 縦書きテキスト
.c-card01__text--column {
  font-size: 3.2vw;
  font-weight: 900;
  line-height: calc(14 / 12);
  letter-spacing: .005em;
  color: $yellow2;
  writing-mode: vertical-rl;
  @include mq(md) {
    font-size: 1.041vw;
    position: relative;
    left: myrem(4);
  }
}

// 大きい黄色テキスト
.c-card01__text-yellow--large {
  font-size: 8.799vw;
  font-weight: 700;
  line-height: calc(28 / 33);
  letter-spacing: -.005em;
  color: $yellow2;
  @include mq(md) {
    font-size: 2.916vw;
    position: relative;
    left: myrem(2);
  }
}

// 小さい黄色テキスト
.c-card01__text-yellow--small {
  font-size: 4vw;
  font-weight: 900;
  line-height: calc(28 / 15);
  letter-spacing: 0;
  color: $yellow2;
  margin-bottom: myrem(2);
  position: relative;
  top: myrem(-1); // 少し上にずらす
  @include mq(md) {
    font-size: 1.388vw;
    top: myrem(-2);
  }
}

// 右カード　黄色テキスト
.c-card01--right .c-card01__text-yellow {
  font-size: 5.066vw;
  @include mq(md) {
    font-size: 1.666vw;
  }
}