@use "global" as *;

.c-card06 {

  @include mq(md) {
    
  }
}

.c-card06__label {

  @include mq(md) {
    
  }
}

.c-card06__label-text {

  @include mq(md) {
    
  }
}

.c-card06__title {

  @include mq(md) {
    
  }
}

.c-card06__text {

  @include mq(md) {
    
  }
}

