@use "global" as *;

.p-card06 {
  display: flex;
  flex-direction: column;
  gap: myrem(43);
  margin-top: myrem(50);
  @include mq(md) {
    gap: myrem(57);
    margin-top: myrem(85);
  }
}

.p-card06__title {
  font-size: myrem(20);
  font-weight: 900;
  color: $pink1;
  text-align: center;
  position: relative;
  margin-top: myrem(67);
  @include mq(md) {
    font-size: myrem(38);
    margin-top: myrem(147);
  }
}

.p-card06__title::before {
  content: "";
  display: block;
  position: absolute;
  top: myrem(-56);
  left: myrem(-26);
  width: myrem(106);
  height: myrem(106);
  background: url(../images/flow/sp/flow01-sp.png) no-repeat 100% / cover;
  @include mq(md) {
    top: myrem(-180);
    left: myrem(-53);
    width: myrem(258);
    height: myrem(262);
    background: url(../images/flow/pc/flow01-pc.png) no-repeat 100% / cover;
  }
}

.p-card06__title::after {
  content: "";
  display: block;
  position: absolute;
  top: myrem(30);
  left: 50%;
  transform: translateX(-50%);
  width: myrem(170);
  height: myrem(10);
  background: url(../images/flow/sp/flow02-sp.png) no-repeat 100% / contain;
  @include mq(md) {
    top: myrem(63);
    width: myrem(400);
    height: myrem(20);
    background: url(../images/flow/pc/flow02-pc.png) no-repeat 100% / contain;
  }
}
