@use "global" as *;

.p-card05 {
  overflow-x: auto;
  display: block;
  margin-top: myrem(34);
  @include mq(md) {
    display: flex;
    justify-content: center;
    margin-left: myrem(0);
    overflow-x: visible;
    margin-top: myrem(72);
  }
}

.p-card05::-webkit-scrollbar {
  width: 100%;
  height: myrem(10);
}

.p-card05::-webkit-scrollbar-track {
    background: $white; /* スクロールバーの背景色 */
    border-radius: 5px; /* 角丸にする */
}

.p-card05::-webkit-scrollbar-thumb {
    background: $pink1; /* スクロールバーの操作部分の背景色 */
    border-radius: 5px; /* 角丸にする */
}