@use "global" as *;

.p-faq {
  position: relative;
  padding-bottom: myrem(87);
  @include mq(md) {
    
  }
}

.p-faq::before,
.p-faq::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  @include mq(md) {
    display: none;
  }
}

.p-faq::before {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(230, 176, 198, .11) 45%, #cc5c89 100%);
  clip-path: polygon(100% 0, -26% 0, 100% 8%);
  top: myrem(-60);
  z-index: -1;
}

.p-faq::after {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0, rgba(230, 176, 198, .11) 45%, #cc5c89 100%);
  clip-path: polygon(0 95%, 0 100%, 75% 100%);
  bottom: myrem(-1);
}
