@use "global" as *;

.p-flow {
  position: relative;
  padding-block: myrem(1) myrem(42);
  @include mq(md) {
    padding-block: myrem(1) myrem(91);
  }
}

.p-flow::before {
  content: "";
  display: block;
  position: absolute;
  background: $pink3;
  clip-path: polygon(0 2.5%, 100% 0, 100% 97%, 0 100%);
  width: 100%;
  height: 100%;
  @include mq(md) {
    clip-path: polygon(0 8.3%, 100% 0, 100% 92%, 0 100%);
  }
}