@use "global" as *;

.p-test {
  color: $pink1;
  font-family: $font-main;
  font-weight: 100;
  font-size: myrem(25);
  @include mq(md) {
    font-size: myrem(50);
  }
}

.p-parts {
  margin-top: 50px;
}